# This notebook is aimed at the creation of shapefiles of field data 1, based on the .csv files which we already created in the last step.

In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
# Set some directories. Here we use absolute directories. 
cwd = 'c:\\Users\\m1865\\Desktop\\Ticino'
cwd_Field = cwd + '\\FieldData'
cwd_Field_Data1 = cwd_Field + '\\Field Dataset 1'
cwd_Field_Data1_CSV = cwd_Field_Data1 + "\\CSV"
cwd_Field_Data1_Shapefiles = cwd_Field_Data1 + "\\Shapefiles"

### Read our perfect .csv files

In [3]:
df_field_Valid_LatLong = pd.read_csv(cwd_Field_Data1_CSV + "\\FieldData1 Valid LatLong.csv")
df_field_Valid_LatLong.head()

    Plot        Lat      Long
0  FOR01  45.567978  8.711800
1  FOR02  45.570210  8.712502
2  FOR03  45.569752  8.713107
3  FOR04  45.290177  8.936120
4  FOR05  45.290823  8.938417

In [4]:
df_field_Valid_UTM = pd.read_csv(cwd_Field_Data1_CSV + "\\FieldData1 Valid UTM.csv")
df_field_Valid_UTM.head()

    Plot       UTM_X        UTM_Y
0  FOR01  477510.968  5046089.097
1  FOR02  477566.636  5046336.872
2  FOR03  477613.662  5046285.820
3  FOR04  494990.757  5015188.194
4  FOR05  495170.934  5015259.820

### Create geodataframes

In [5]:
gdf_field_Valid_LatLong = gpd.GeoDataFrame(
    df_field_Valid_LatLong,
    geometry = gpd.points_from_xy(df_field_Valid_LatLong['Long'],df_field_Valid_LatLong['Lat']),
    crs = 'EPSG:4326'
)
gdf_field_Valid_LatLong

     Plot        Lat      Long                  geometry
0   FOR01  45.567978  8.711800  POINT (8.71180 45.56798)
1   FOR02  45.570210  8.712502  POINT (8.71250 45.57021)
2   FOR03  45.569752  8.713107  POINT (8.71311 45.56975)
3   FOR04  45.290177  8.936120  POINT (8.93612 45.29018)
4   FOR05  45.290823  8.938417  POINT (8.93842 45.29082)
..    ...        ...       ...                       ...
58  FOR78  45.656822  8.735793  POINT (8.73579 45.65682)
59  FOR79  45.656613  8.733727  POINT (8.73373 45.65661)
60  FOR80  45.663547  8.729593  POINT (8.72959 45.66355)
61  FOR81  45.665172  8.722593  POINT (8.72259 45.66517)
62  FOR82  45.664272  8.723067  POINT (8.72307 45.66427)

[63 rows x 4 columns]

In [6]:
gdf_field_Valid_UTM = gpd.GeoDataFrame(
    df_field_Valid_UTM,
    geometry = gpd.points_from_xy(df_field_Valid_UTM['UTM_X'],df_field_Valid_UTM['UTM_Y']),
    crs = 'EPSG:32632'
)
gdf_field_Valid_UTM

     Plot       UTM_X        UTM_Y                        geometry
0   FOR01  477510.968  5046089.097  POINT (477510.968 5046089.097)
1   FOR02  477566.636  5046336.872  POINT (477566.636 5046336.872)
2   FOR03  477613.662  5046285.820  POINT (477613.662 5046285.820)
3   FOR04  494990.757  5015188.194  POINT (494990.757 5015188.194)
4   FOR05  495170.934  5015259.820  POINT (495170.934 5015259.820)
..    ...         ...          ...                             ...
58  FOR78  479415.734  5055953.155  POINT (479415.734 5055953.155)
59  FOR79  479254.696  5055930.468  POINT (479254.696 5055930.468)
60  FOR80  478935.217  5056701.915  POINT (478935.217 5056701.915)
61  FOR81  478390.540  5056884.318  POINT (478390.540 5056884.318)
62  FOR82  478427.118  5056784.200  POINT (478427.118 5056784.200)

[63 rows x 4 columns]

In [7]:
# Save them as shapefiles! 
gdf_field_Valid_LatLong.to_file(cwd_Field_Data1_Shapefiles + "\\FieldData1 Valid LatLong.shp")
gdf_field_Valid_UTM.to_file(cwd_Field_Data1_Shapefiles + "\\FieldData1 Valid UTM.shp")