In [17]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [18]:
# Set some directories. Here we use absolute directories. 
cwd = 'c:\\Users\\m1865\\Desktop\\Ticino'
cwd_Field = cwd + '\\FieldData'
cwd_Field_Data2 = cwd_Field + '\\Field Dataset 2'
cwd_Result = cwd + '\\Results'

# Process of Dataset 1

In [19]:
df_Field1 = pd.read_excel(cwd_Field + '\\Sintesi_siti_ParcoTicino_con_specie.xlsx')
df_Field1.head()

,ESU,Nome ESU Campagna 2,Sito_name,Sampling_date,Field_campaing,Leaf_sampling,Lat,Long,X_UTM (est),Y_UTM (nord),...,Piano Dominato - Acer Campestre,Piano Dominato - Alnus Glutinosa,Piano Dominato - Populus Tremula,Piano Dominato - Quercus Cerris,Piano Dominato - Popolus Nigra,Piano Dominato - Fraxinus Ornus,Piano Dominato - Castanea Sativa Miller,Piano Dominato - Ailanthus Altissima,Piano Dominato - Crataegus Monogyna,Piano Dominato - Copertura
0,FOR01,FOR44,diga,2022-06-14,1,y,45°34.0787',8°42.7080',477510.968,5046089.097,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8
1,FOR02,FOR45,diga,2022-06-14,1,y,45°34.2126',8°42.7501',477566.636,5046336.872,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,FOR03,FOR46,diga,2022-06-14,1,y,45°34.1851',8°42.7864',477613.662,5046285.820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7
3,FOR04,FOR40,Bosco cancello,2022-06-16,1,y,45°17.4106',8°56.1672',494990.757,5015188.194,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,FOR05,FOR41,Bosco cancello,2022-06-16,1,y,45°17.4494',8°56.3050',495170.934,5015259.820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [20]:
# Fill NaN with 0 to simplify the later process
df_Field1 = df_Field1.fillna(0)
df_Field1.head()

,ESU,Nome ESU Campagna 2,Sito_name,Sampling_date,Field_campaing,Leaf_sampling,Lat,Long,X_UTM (est),Y_UTM (nord),...,Piano Dominato - Acer Campestre,Piano Dominato - Alnus Glutinosa,Piano Dominato - Populus Tremula,Piano Dominato - Quercus Cerris,Piano Dominato - Popolus Nigra,Piano Dominato - Fraxinus Ornus,Piano Dominato - Castanea Sativa Miller,Piano Dominato - Ailanthus Altissima,Piano Dominato - Crataegus Monogyna,Piano Dominato - Copertura
0,FOR01,FOR44,diga,2022-06-14,1,y,45°34.0787',8°42.7080',477510.968,5046089.097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
1,FOR02,FOR45,diga,2022-06-14,1,y,45°34.2126',8°42.7501',477566.636,5046336.872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,FOR03,FOR46,diga,2022-06-14,1,y,45°34.1851',8°42.7864',477613.662,5046285.820,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7
3,FOR04,FOR40,Bosco cancello,2022-06-16,1,y,45°17.4106',8°56.1672',494990.757,5015188.194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,FOR05,FOR41,Bosco cancello,2022-06-16,1,y,45°17.4494',8°56.3050',495170.934,5015259.820,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
# Convert the default float values to int64 values
df_Field1_Columns = df_Field1.columns
for column in df_Field1_Columns:
    if ("Piano Dominato" in column) or ("Piano Dominante" in column):
        if not ("Copertura" in column):
            df_Field1 = df_Field1.astype({column: 'int64'})
df_Field1.dtypes

ESU                                                object
Nome ESU Campagna 2                                object
Sito_name                                          object
Sampling_date                              datetime64[ns]
Field_campaing                                     object
                                                ...
Piano Dominato - Fraxinus Ornus                     int64
Piano Dominato - Castanea Sativa Miller             int64
Piano Dominato - Ailanthus Altissima                int64
Piano Dominato - Crataegus Monogyna                 int64
Piano Dominato - Copertura                        float64
Length: 70, dtype: object

In [22]:
# Drop useless columns
for column in df_Field1_Columns:
    if not ((column == 'ESU') or ("Piano Dominato" in column) or ("Piano Dominante" in column) or (column == 'Lat') or (column == 'Long')):
        df_Field1.drop(columns = [column], inplace = True)
df_Field1

,ESU,Lat,Long,Piano Dominante - Robinia Pseudoacacia,Piano Dominante - Carpinus Betulus,Piano Dominante - Quercus Robur,Piano Dominante - Populus Canadensis,Piano Dominante - Alnus Glutinosa,Piano Dominante - Prunus Serotina,Piano Dominante - Malus Sylvestris,...,Piano Dominato - Acer Campestre,Piano Dominato - Alnus Glutinosa,Piano Dominato - Populus Tremula,Piano Dominato - Quercus Cerris,Piano Dominato - Popolus Nigra,Piano Dominato - Fraxinus Ornus,Piano Dominato - Castanea Sativa Miller,Piano Dominato - Ailanthus Altissima,Piano Dominato - Crataegus Monogyna,Piano Dominato - Copertura
0,FOR01,45°34.0787',8°42.7080',10,4,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.8
1,FOR02,45°34.2126',8°42.7501',2,0,4,0,2,11,0,...,0,0,0,0,0,0,0,0,0,1.0
2,FOR03,45°34.1851',8°42.7864',3,0,1,0,0,31,1,...,0,0,0,0,0,0,0,0,0,0.7
3,FOR04,45°17.4106',8°56.1672',0,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,FOR05,45°17.4494',8°56.3050',0,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,FOR78,45°39.4093',8°44.1476',3,0,0,0,0,33,0,...,0,0,0,0,0,0,0,0,0,0.0
78,FOR79,45°39.3968',8°44.0236',0,0,4,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0.4
79,FOR80,45°39.8128',8°43.7756',7,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.5
80,FOR81,45°39.9103',8°43.3556',2,0,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.3
81,FOR82,45°39.8563',8°43.3840',0,0,7,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0.2

In [23]:
# Get the rows where there are no data of the quantities of the species
df_Field1_Columns_Truncated = df_Field1.columns
list_Row_toDrop = []
for row in range(0,df_Field1.shape[0]):
    temp_Check_toDrop = True
    for column in df_Field1_Columns_Truncated:
        if ("Piano Dominato" in column) or ("Piano Dominante" in column):
            if not ("Copertura" in column):
                if df_Field1.loc[df_Field1.iloc[row].name,column] != 0:
                    temp_Check_toDrop = False
                    break
    if temp_Check_toDrop:
        list_Row_toDrop.append(row)
list_Row_toDrop

[31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [24]:
# Drop those empty rows! 
df_Field1_Valid = df_Field1.drop(index = df_Field1.index[list_Row_toDrop])
df_Field1_Valid

,ESU,Lat,Long,Piano Dominante - Robinia Pseudoacacia,Piano Dominante - Carpinus Betulus,Piano Dominante - Quercus Robur,Piano Dominante - Populus Canadensis,Piano Dominante - Alnus Glutinosa,Piano Dominante - Prunus Serotina,Piano Dominante - Malus Sylvestris,...,Piano Dominato - Acer Campestre,Piano Dominato - Alnus Glutinosa,Piano Dominato - Populus Tremula,Piano Dominato - Quercus Cerris,Piano Dominato - Popolus Nigra,Piano Dominato - Fraxinus Ornus,Piano Dominato - Castanea Sativa Miller,Piano Dominato - Ailanthus Altissima,Piano Dominato - Crataegus Monogyna,Piano Dominato - Copertura
0,FOR01,45°34.0787',8°42.7080',10,4,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.8
1,FOR02,45°34.2126',8°42.7501',2,0,4,0,2,11,0,...,0,0,0,0,0,0,0,0,0,1.0
2,FOR03,45°34.1851',8°42.7864',3,0,1,0,0,31,1,...,0,0,0,0,0,0,0,0,0,0.7
3,FOR04,45°17.4106',8°56.1672',0,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,FOR05,45°17.4494',8°56.3050',0,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,FOR78,45°39.4093',8°44.1476',3,0,0,0,0,33,0,...,0,0,0,0,0,0,0,0,0,0.0
78,FOR79,45°39.3968',8°44.0236',0,0,4,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0.4
79,FOR80,45°39.8128',8°43.7756',7,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.5
80,FOR81,45°39.9103',8°43.3556',2,0,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.3
81,FOR82,45°39.8563',8°43.3840',0,0,7,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0.2

In [25]:
# Combine "Piano Dominante" and "Piano Dominato", merging the same species and keeping the unique species
list1_Spezie = []
for spezie in df_Field1_Valid.columns:
    if (not "Copertura" in spezie) and (" - " in spezie):
        list1_Spezie.append(spezie)
list1_Spezie
list_Spezie_Dominato = []
list_Spezie_Dominante = []
for spezie in list1_Spezie:
    if "Dominato" in spezie:
        list_Spezie_Dominato.append(spezie.split(" - ")[1])
    elif "Dominante" in spezie:
        list_Spezie_Dominante.append(spezie.split(" - ")[1])
# Sum up the counts of the same plants in "Piano Dominante" and "Piano Dominato". 
df_Field1_Merge = df_Field1_Valid.copy()
for spezie_Dominante in list_Spezie_Dominante:
    # Set a check value in case that a plant only exists in "Piano Dominante"
    spezie_unique = True
    for spezie_Dominato in list_Spezie_Dominato: 
        if spezie_Dominante == spezie_Dominato:
            # Add up the counts if the plant exists in both "Piano Dominante" and "Piano Dominato"
            df_Field1_Merge[spezie_Dominante] = df_Field1_Merge[("Piano Dominante - " + spezie_Dominante)] + df_Field1_Merge[("Piano Dominato - " + spezie_Dominato)]
            # Drop the two columns! 
            df_Field1_Merge = df_Field1_Merge.drop(columns = [("Piano Dominante - " + spezie_Dominante),("Piano Dominato - " + spezie_Dominato)])
            spezie_unique = False
            break
    # If the plant only exists in "Piano Dominante", then no need to add any arithmetric operation! 
    if spezie_unique:
        df_Field1_Merge[spezie_Dominante] = df_Field1_Merge[("Piano Dominante - " + spezie_Dominante)]
        df_Field1_Merge = df_Field1_Merge.drop(columns = [("Piano Dominante - " + spezie_Dominante)])
# Now only the plants unique in "Piano Dominato" remain intact in the geodataframe. We simply rename their names! 
for column in df_Field1_Merge.columns: 
    if ("Piano Dominato" in column) and (not "Copertura" in column):
        df_Field1_Merge = df_Field1_Merge.rename(columns={column: column.split(" - ")[1]})
# Finally check our columns of the final dataframe! 
df_Field1_Merge

,ESU,Lat,Long,Piano Dominante - Copertura,Prunus Padus,Pronus Serotina,Ulmus Minor,Acer Campestre,Crataegus Monogyna,Piano Dominato - Copertura,...,Quercus Cerris,Populus Cane scens,Pinus Rigida,Pinus Sylvestris,Castanea Sativa Miller,Betula Pendula,Ailanthus Altissima,Ulmus Minor Miller,Fraxinus Ornus,Quercus Pubescens
0,FOR01,45°34.0787',8°42.7080',0.6,7,0,0,0,0,0.8,...,0,0,0,0,0,0,0,0,0,0
1,FOR02,45°34.2126',8°42.7501',0.4,0,15,0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,FOR03,45°34.1851',8°42.7864',1.0,0,0,0,0,0,0.7,...,0,0,0,0,0,0,0,0,0,0
3,FOR04,45°17.4106',8°56.1672',0.4,0,0,0,0,0,0.0,...,0,2,0,0,0,0,0,0,0,0
4,FOR05,45°17.4494',8°56.3050',0.3,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,FOR78,45°39.4093',8°44.1476',1.0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
78,FOR79,45°39.3968',8°44.0236',0.5,0,5,0,0,0,0.4,...,0,0,0,8,8,0,0,0,0,0
79,FOR80,45°39.8128',8°43.7756',0.4,0,17,0,0,0,0.5,...,0,0,0,0,0,0,0,0,0,0
80,FOR81,45°39.9103',8°43.3556',0.5,0,11,0,0,0,0.3,...,0,0,0,5,0,0,0,0,0,0
81,FOR82,45°39.8563',8°43.3840',0.7,0,8,0,0,0,0.2,...,0,0,0,16,2,0,0,0,0,0

In [27]:
# Convert the species columns into rows, so that the new dataframe will only have 5 columns, where the fourth column will be the name of the species and the fifth column will be the quantity of that species
list1_FOR = []
list1_Lat = []
list1_Long = []
list1_species = []
list1_quantity = []
for row in range(0,df_Field1_Merge.shape[0]):
    for column in df_Field1_Merge.columns:
        if not (column == 'ESU') and not (column == 'Lat') and not (column == 'Long'):
            if not ("Copertura" in column) and (df_Field1_Merge.loc[df_Field1_Merge.iloc[row].name,column] != 0):
                list1_FOR.append(df_Field1_Merge.iloc[row,0])
                list1_Lat.append(df_Field1_Merge.iloc[row,1])
                list1_Long.append(df_Field1_Merge.iloc[row,2])
                list1_species.append(column)
                list1_quantity.append(df_Field1_Merge.loc[df_Field1_Merge.iloc[row].name,column])
df_Field1_Converted = pd.DataFrame(
    data = {
        'Plot': list1_FOR,
        'Lat': list1_Lat,
        'Long': list1_Long,
        'Species': list1_species,
        'Quantity': list1_quantity
    }
)
df_Field1_Converted

      Plot          Lat        Long                 Species  Quantity
0    FOR01  45°34.0787'  8°42.7080'            Prunus Padus         7
1    FOR01  45°34.0787'  8°42.7080'    Robinia Pseudoacacia        12
2    FOR01  45°34.0787'  8°42.7080'        Carpinus Betulus        13
3    FOR01  45°34.0787'  8°42.7080'          Quercus Robur          1
4    FOR01  45°34.0787'  8°42.7080'      Populus Canadensis         1
..     ...          ...         ...                     ...       ...
216  FOR81  45°39.9103'  8°43.3556'        Pinus Sylvestris         5
217  FOR82  45°39.8563'  8°43.3840'         Pronus Serotina         8
218  FOR82  45°39.8563'  8°43.3840'          Quercus Robur          7
219  FOR82  45°39.8563'  8°43.3840'        Pinus Sylvestris        16
220  FOR82  45°39.8563'  8°43.3840'  Castanea Sativa Miller         2

[221 rows x 5 columns]

In [28]:
# Convert the latitude and longitude to the correct form
df_Field1_Converted['Lat'] = df_Field1_Converted['Lat'].str.split(r'°|\'', regex = True, expand = True).iloc[:,0].apply(pd.to_numeric) + df_Field1_Converted['Lat'].str.split(r'°|\'', regex = True, expand = True).iloc[:,1].apply(pd.to_numeric).apply(lambda row: row/60)
df_Field1_Converted['Long'] = df_Field1_Converted['Long'].str.split(r'°|\'', regex = True, expand = True).iloc[:,0].apply(pd.to_numeric) + df_Field1_Converted['Long'].str.split(r'°|\'', regex = True, expand = True).iloc[:,1].apply(pd.to_numeric).apply(lambda row: row/60)
df_Field1_Converted

      Plot        Lat      Long                 Species  Quantity
0    FOR01  45.567978  8.711800            Prunus Padus         7
1    FOR01  45.567978  8.711800    Robinia Pseudoacacia        12
2    FOR01  45.567978  8.711800        Carpinus Betulus        13
3    FOR01  45.567978  8.711800          Quercus Robur          1
4    FOR01  45.567978  8.711800      Populus Canadensis         1
..     ...        ...       ...                     ...       ...
216  FOR81  45.665172  8.722593        Pinus Sylvestris         5
217  FOR82  45.664272  8.723067         Pronus Serotina         8
218  FOR82  45.664272  8.723067          Quercus Robur          7
219  FOR82  45.664272  8.723067        Pinus Sylvestris        16
220  FOR82  45.664272  8.723067  Castanea Sativa Miller         2

[221 rows x 5 columns]

# Process of Dataset 2

In [29]:
# Since our Excel file contains multiple sheets, we need to get the names of sheets firstly. 
xlsx = pd.ExcelFile(cwd_Field_Data2 + '\\Dati plot forestali Parco Ticino completo.xlsx')
xlsx.sheet_names

['Querce caducifoglie',
 'Acero-fra, Orno-ost',
 'Castagneti',
 'Pinete con lat',
 'Lat alloctone',
 'Lat meso con conifere',
 'TEMPLATE']

In [34]:
# Combine! 
xlsx_field = pd.DataFrame()
for sheet in xlsx.sheet_names:
    if sheet != 'TEMPLATE':
        temp_df = pd.read_excel(cwd_Field_Data2 + '\\Dati plot forestali Parco Ticino completo.xlsx', sheet_name=sheet)
        xlsx_field = pd.concat([xlsx_field, temp_df], ignore_index=True)
xlsx_field

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Tipo forestale:,NaN,Querce caducifoglie (colore rosso),NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,ha factor,31.830989,NaN,NaN,NaN,NaN
3,Radius [m],10,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
972,40,9,casa,25.5,NaN,NaN
973,40,10,prse,10.5,NaN,NaN
974,40,11,quro,41.5,NaN,NaN
975,40,12,quro,48,NaN,NaN
976,40,13,prse,13,NaN,NaN

In [35]:
# By observing our concatenated dataframe, we only need to keep the first 3 columns. 
# Drop those columns! 
xlsx_field = xlsx_field.drop(xlsx_field.iloc[:,np.r_[1,np.arange(3,6,1)]], axis = 1)
xlsx_field

          Unnamed: 0                          Unnamed: 2
0    Tipo forestale:  Querce caducifoglie (colore rosso)
1                NaN                                 NaN
2          ha factor                                 NaN
3        Radius [m]                                  NaN
4                NaN                                 NaN
..               ...                                 ...
972               40                                casa
973               40                                prse
974               40                                quro
975               40                                quro
976               40                                prse

[977 rows x 2 columns]

In [37]:
# Now we need to drop the useless rows. If the first column of a row is not a numeric value, then it will be dropped. 
df_Field2 = xlsx_field.copy()
for row in range(0,xlsx_field.shape[0]):
    # Get the index label of the current row! 
    temp_label = xlsx_field.iloc[row].name
    if str(xlsx_field.iloc[row,0]).isnumeric(): # Note: we have to convert the value to str first, otherwise we can't apply "isnumeric()" function. 
        continue
    else: 
        # Drop the row based on the label! 
        df_Field2 = df_Field2.drop(index=temp_label, axis = 0)
# Reset index
df_Field2 = df_Field2.reset_index(drop = True)
# Assign column names
df_Field2.columns = ["Plot Number", "Tree Species"]
# Finally we get our clean dataframe! 
df_Field2

    Plot Number Tree Species
0             1         quru
1             1         pisy
2             1         quru
3             1         quru
4             1         quru
..          ...          ...
834          40         casa
835          40         prse
836          40         quro
837          40         quro
838          40         prse

[839 rows x 2 columns]

In [38]:
# Now we group by to aggregate some values
df_Field2 = df_Field2.groupby(['Plot Number', 'Tree Species'], as_index = False).size()
df_Field2 = df_Field2.rename(columns = {'size': 'Species Counts'})
df_Field2

     Plot Number Tree Species  Species Counts
0              1         pisy               2
1              1         quru               7
2              2         pisy               1
3              2         prse              12
4              2         quro               5
..           ...          ...             ...
149           39         pisy               7
150           40         casa               2
151           40         pisy               2
152           40         prse               6
153           40         quro               3

[154 rows x 3 columns]

In [39]:
# Read another Excel file which contains all the geographical coordinates of the field plots! 
df_field_coord = pd.read_excel(cwd_Field_Data2 + "\\Dati coordinate plot forestali Parco Ticino.xlsx")
df_field_coord

    n° plot          Y         X
0         1  45.712265  8.757804
1         2  45.702801  8.750167
2         3  45.639628  8.666780
3         4  45.630213  8.667770
4         5  45.552661  8.703548
5         6  45.542031  8.705301
6         7  45.536410  8.704414
7         8  45.507882  8.706822
8         9  45.705440  8.675570
9        10  45.705992  8.660657
10       11  45.702652  8.740590
11       12  45.635437  8.692949
12       13  45.690295  8.655280
13       14  45.701860  8.676986
14       15  45.700178  8.735308
15       16  45.691169  8.691169
16       17  45.752679  8.622356
17       18  45.749294  8.658004
18       19  45.780050  8.659166
19       20  45.770427  8.667140
20       21  45.736700  8.693500
21       22  45.746195  8.651453
22       23  45.712181  8.674673
23       24  45.697661  8.693711
24       25  45.734065  8.681272
25       26  45.716861  8.750134
26       27  45.662977  8.678159
27       28  45.686945  8.747726
28       29  45.728045  8.678277
29       30  45.720438  8.717936
30       31  45.720792  8.754275
31       32  45.587609  8.736405
32       33  45.599377  8.737557
33       34  45.707818  8.677689
34       35  45.743313  8.627677
35       36  45.780064  8.668534
36       37  45.665895  8.682949
37       38  45.686724  8.756250
38       39  45.733749  8.696724
39       40  45.662013  8.737580

In [40]:
# Rename the columns !
df_field_coord.columns = ["Plot Number", "Latitude", "Longitude"]

In [42]:
# Merge! 
df_field_merged = pd.merge(df_Field2, df_field_coord, on = "Plot Number")
df_field_merged

     Plot Number Tree Species  Species Counts   Latitude  Longitude
0              1         pisy               2  45.712265   8.757804
1              1         quru               7  45.712265   8.757804
2              2         pisy               1  45.702801   8.750167
3              2         prse              12  45.702801   8.750167
4              2         quro               5  45.702801   8.750167
..           ...          ...             ...        ...        ...
149           39         pisy               7  45.733749   8.696724
150           40         casa               2  45.662013   8.737580
151           40         pisy               2  45.662013   8.737580
152           40         prse               6  45.662013   8.737580
153           40         quro               3  45.662013   8.737580

[154 rows x 5 columns]

In [43]:
# Create immediately the geodataframe! Since we need to filter out the field plots which are ouside our RoI! 
gdf_Merged = gpd.GeoDataFrame(
    df_field_merged,
    geometry = gpd.points_from_xy(df_field_merged['Longitude'],df_field_merged['Latitude']),
    crs = 'EPSG:4326'
)
# Convert the crs from 4326 (WGS84) to 32632 (WGS84 UTM zone 32N)
gdf_Merged = gdf_Merged.to_crs(32632)
gdf_Merged

,Plot Number,Tree Species,Species Counts,Latitude,Longitude,geometry
0,1,pisy,2,45.712265,8.757804,POINT (481149.210 5062107.523)
1,1,quru,7,45.712265,8.757804,POINT (481149.210 5062107.523)
2,2,pisy,1,45.702801,8.750167,POINT (480551.551 5061057.811)
3,2,prse,12,45.702801,8.750167,POINT (480551.551 5061057.811)
4,2,quro,5,45.702801,8.750167,POINT (480551.551 5061057.811)
...,...,...,...,...,...,...
149,39,pisy,7,45.733749,8.696724,POINT (476404.259 5064510.592)
150,40,casa,2,45.662013,8.737580,POINT (479556.832 5056529.385)
151,40,pisy,2,45.662013,8.737580,POINT (479556.832 5056529.385)
152,40,prse,6,45.662013,8.737580,POINT (479556.832 5056529.385)
153,40,quro,3,45.662013,8.737580,POINT (479556.832 5056529.385)

In [44]:
# Load our region of interest shapefile! 
gdf_RoI = gpd.read_file(cwd_Field + "\\ShapefileCorretti\\confini_foreste_corretti.shp")
gdf_RoI

       FID                                           geometry
0        0  POLYGON ((504873.482 5000610.888, 504808.988 5...
1        1  POLYGON ((504989.028 5000858.123, 505021.279 5...
2        2  POLYGON ((506827.044 5001023.389, 506896.914 5...
3        3  POLYGON ((507080.984 5001164.471, 507089.040 5...
4        4  POLYGON ((505300.743 5001126.854, 505335.674 5...
...    ...                                                ...
1341  1341  MULTIPOLYGON (((472282.024 5067535.856, 472282...
1342  1342  POLYGON ((473006.315 5068074.574, 472986.378 5...
1343  1343  POLYGON ((472896.079 5068110.401, 472888.674 5...
1344  1344  POLYGON ((472500.581 5068648.999, 472487.280 5...
1345  1345  POLYGON ((472759.086 5068960.421, 472706.557 5...

[1346 rows x 2 columns]

In [45]:
# Check which field plots (points) are within our RoI! 
join_inner_df = gdf_RoI.sjoin(gdf_Merged, how="inner").sort_values('Plot Number').groupby('Plot Number', as_index = False).count()
list_ValidPoints = list(join_inner_df['Plot Number'])
list_ValidPoints

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 21,
 22,
 23,
 24,
 25,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 35,
 37,
 38,
 39,
 40]

In [50]:
# Back to our field dataframe and remove those rows which are outside our RoI! 
df_field_Valid = df_field_merged.copy()
df_field_Valid = df_field_Valid.where(df_field_Valid['Plot Number'].isin(list_ValidPoints)).dropna().reset_index(drop = True)
# Don't know why the datatype is changed to float from int. Now we change back to int! 
df_field_Valid['Plot Number'] = df_field_Valid['Plot Number'].astype('int64')
df_field_Valid['Species Counts'] = df_field_Valid['Species Counts'].astype('int64')
# Finally we have our field plot dataframe with only valid points! 
df_field_Valid

     Plot Number Tree Species  Species Counts   Latitude  Longitude
0              1         pisy               2  45.712265   8.757804
1              1         quru               7  45.712265   8.757804
2              2         pisy               1  45.702801   8.750167
3              2         prse              12  45.702801   8.750167
4              2         quro               5  45.702801   8.750167
..           ...          ...             ...        ...        ...
123           39         pisy               7  45.733749   8.696724
124           40         casa               2  45.662013   8.737580
125           40         pisy               2  45.662013   8.737580
126           40         prse               6  45.662013   8.737580
127           40         quro               3  45.662013   8.737580

[128 rows x 5 columns]

In [51]:
df_Field2_Final = df_field_Valid.copy()
df_Field2_Final = df_Field2_Final.rename(columns={'Plot Number': 'Plot', 'Tree Species': 'Species', 'Species Counts': 'Quantity', 'Latitude': 'Lat', 'Longitude': 'Long'})
df_Field2_Final

     Plot Species  Quantity        Lat      Long
0       1    pisy         2  45.712265  8.757804
1       1    quru         7  45.712265  8.757804
2       2    pisy         1  45.702801  8.750167
3       2    prse        12  45.702801  8.750167
4       2    quro         5  45.702801  8.750167
..    ...     ...       ...        ...       ...
123    39    pisy         7  45.733749  8.696724
124    40    casa         2  45.662013  8.737580
125    40    pisy         2  45.662013  8.737580
126    40    prse         6  45.662013  8.737580
127    40    quro         3  45.662013  8.737580

[128 rows x 5 columns]

# Concatenate 2 datasets

In [53]:
df_Field = pd.concat([df_Field1_Converted, df_Field2_Final])
df_Field

      Plot        Lat      Long               Species  Quantity
0    FOR01  45.567978  8.711800          Prunus Padus         7
1    FOR01  45.567978  8.711800  Robinia Pseudoacacia        12
2    FOR01  45.567978  8.711800      Carpinus Betulus        13
3    FOR01  45.567978  8.711800        Quercus Robur          1
4    FOR01  45.567978  8.711800    Populus Canadensis         1
..     ...        ...       ...                   ...       ...
123     39  45.733749  8.696724                  pisy         7
124     40  45.662013  8.737580                  casa         2
125     40  45.662013  8.737580                  pisy         2
126     40  45.662013  8.737580                  prse         6
127     40  45.662013  8.737580                  quro         3

[349 rows x 5 columns]

# Create geodataframe, add buffer (5 pixels = 50m diameters) and export to shapefile

In [67]:
df_Field_Unique = df_Field.drop(columns = ['Species','Quantity']).drop_duplicates().reset_index()

In [68]:
gdf_Field = gpd.GeoDataFrame(
    df_Field_Unique,
    geometry = gpd.points_from_xy(df_Field_Unique['Long'],df_Field_Unique['Lat']),
    crs = 'EPSG:4326'
)
gdf_Field

    index   Plot        Lat      Long                  geometry
0       0  FOR01  45.567978  8.711800  POINT (8.71180 45.56798)
1       5  FOR02  45.570210  8.712502  POINT (8.71250 45.57021)
2      12  FOR03  45.569752  8.713107  POINT (8.71311 45.56975)
3      16  FOR04  45.290177  8.936120  POINT (8.93612 45.29018)
4      18  FOR05  45.290823  8.938417  POINT (8.93842 45.29082)
..    ...    ...        ...       ...                       ...
91    113     35  45.743313  8.627677  POINT (8.62768 45.74331)
92    116     37  45.665895  8.682949  POINT (8.68295 45.66590)
93    118     38  45.686724  8.756250  POINT (8.75625 45.68672)
94    122     39  45.733749  8.696724  POINT (8.69672 45.73375)
95    124     40  45.662013  8.737580  POINT (8.73758 45.66201)

[96 rows x 5 columns]

In [72]:
gdf_Buffer = gdf_Field.copy().to_crs(32632)
gdf_Buffer['geometry'] = gdf_Buffer.geometry.buffer(25, cap_style = 3)
gdf_Buffer.to_file(cwd_Field + '\\Buffer.shp')
gdf_Buffer

,index,Plot,Lat,Long,geometry
0,0,FOR01,45.567978,8.711800,"POLYGON ((477535.969 5046114.134, 477535.969 5..."
1,5,FOR02,45.570210,8.712502,"POLYGON ((477591.610 5046361.872, 477591.610 5..."
2,12,FOR03,45.569752,8.713107,"POLYGON ((477638.636 5046310.783, 477638.636 5..."
3,16,FOR04,45.290177,8.936120,"POLYGON ((495015.757 5015213.157, 495015.757 5..."
4,18,FOR05,45.290823,8.938417,"POLYGON ((495195.908 5015284.857, 495195.908 5..."
...,...,...,...,...,...
91,113,35,45.743313,8.627677,"POLYGON ((471062.151 5065620.838, 471062.151 5..."
92,116,37,45.665895,8.682949,"POLYGON ((475327.661 5057001.158, 475327.661 5..."
93,118,38,45.686724,8.756250,"POLYGON ((481044.610 5059295.183, 481044.610 5..."
94,122,39,45.733749,8.696724,"POLYGON ((476429.259 5064535.592, 476429.259 5..."
95,124,40,45.662013,8.737580,"POLYGON ((479581.832 5056554.385, 479581.832 5..."

In [ ]:
d